<!-- Light count -->
<div class="property-row">
  <div class="property-name">Light count</div>
  <div class="property-value">
    <input type="number" min="1" max="512" [value]="device.lightCount" (change)="onLightCountChange($event)">
  </div>
</div>

<!-- Brightness -->
<div class="property-row">
  <div class="property-name">Brightness</div>
  <div class="property-value">
    <input type="range" min="0" max="1" step="0.01" [value]="brightnessProcessor.brightness?.toString() ?? 0" (input)="onBrightnessChange($event)">
  </div>
</div>

<!-- Source -->
<div class="property-row">
  <div class="property-name">Source</div>
  <div class="property-value">
    <select [value]="getType()" (change)="onSourceChange($event)">
      <option value="empty">Off</option>
      <option value="static">Static</option>
      <option value="rainbow">Rainbow</option>
      <option value="udp">UDP</option>
      <option value="uart">UART</option>
    </select>
  </div>
</div>

<app-static-light-source *ngIf="getType() == 'static'" [source]="source"></app-static-light-source>
<app-rainbow-light-source *ngIf="getType() == 'rainbow'" [source]="source"></app-rainbow-light-source>
<app-udp-light-source *ngIf="getType() == 'udp'" [source]="source"></app-udp-light-source>
<app-uart-light-source *ngIf="getType() == 'uart'" [source]="source"></app-uart-light-source>