Language: Cpp
IndentWidth: 2
UseTab: Never
NamespaceIndentation: All
BreakBeforeBraces: Allman
ColumnLimit: 1000
AllowShortIfStatementsOnASingleLine: true
AllowShortFunctionsOnASingleLine: false
BreakConstructorInitializers: AfterColon
Cpp11BracedListStyle: false
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: Always
IndentAccessModifiers: false
PackConstructorInitializers: Never
PointerAlignment: Left
QualifierAlignment: Left
ReferenceAlignment: Left
SeparateDefinitionBlocks: Always
SortUsingDeclarations: Lexicographic
Standard: c++20
BracedInitializerIndentWidth: 2
ContinuationIndentWidth: 2
AccessModifierOffset: -2
IndentPPDirectives: BeforeHash
FixNamespaceComments: false
ConstructorInitializerIndentWidth: 2