/* You can add global styles to this file, and also import other style files */
$background-color: #3A3A3A;
$accent-color: #107C10;
$control-color: #505050;

body {
  background-color: $background-color;
  color: #ffffff;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

select {
  background-color: $control-color;
  border-radius: 4px;
  border-width: 2px;
  border-color: $control-color;
  padding: 6px;
  color: #ffffff;

  &:hover, &:focus {
    background-color: $accent-color;
    border-color: transparent;
  }
}

option {
  background-color: $background-color;
}

input[type=color] {
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 100%;
  width: 32px;
  height: 32px;

  &::-webkit-color-swatch-wrapper {
    padding: 0; 
  }

  &::-webkit-color-swatch {
    border: none;
    border-radius: 100%;
  }
}

.property-row {
  display: flex; 
  align-items: center;

  & .property-name {
    margin: 6px;
    width: 30%;
    text-align: right;
  }

  & .property-value {
    margin: 6px;
  }
}
